---
const { fullName, portraitSrc, gitHubUsername } = Astro.props;
---

<article>
    <div class="bio">
    <h3>{fullName}</h3>
    <img src={portraitSrc} alt={fullName} />
    <slot />
    <div class="social">
      <a
        class="contact"
        href={`mailto:developers@progwise.net?subject=Contact%20${fullName}`}
        target="_blank"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentcolor"
        >
          <path
            d="M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12ZM16 12V13.5C16 14.8807 17.1193 16 18.5 16V16C19.8807 16 21 14.8807 21 13.5V12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21H16"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg><span>E-mail</span></a
      >
      <a
        class="github"
        href={`https://github.com/${gitHubUsername}`}
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentcolor"
          viewBox="0 0 24 24"
          height="100%"
        >
          <path
            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
          ></path>
        </svg>
        <span>{gitHubUsername}</span>
      </a>
    </div>
  </div>
</article>
<style>
  article {
    padding: var(--size-4);
    display: flex;
    flex-direction: column;
    max-width: 60em;
  }

  article header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--size-3);
  }

  article header h2 {
    font-size: var(--size-6);
    font-family: var(--font-humanist);
    letter-spacing: var(--font-letterspacing-3);
  }
  article div.bio {
    gap: var(--size-4);
    border-radius: 2%;
    border: var(--border-size-2) solid var(--gray-3);
    padding: var(--size-4);
    margin-bottom: var(--size-4);
    font-family: var(--font-humanist);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
    background: var(--blue-12);
  }

  article div.social {
    display: flex;
    gap: var(--size-4);
    justify-content: end;
    height: var(--size-6);
    color: var(--gray-2);
  }

  article div.social a {
    color: var(--gray-4);
    display: flex;
    gap: var(--size-2);
  }

  article div.social a:hover {
    color: var(--gray-2);
  }
  article div.social a svg {
    width: var(--size-6);
  }

  article div.social a:hover svg {
    width: var(--size-6);

    transform: scale(1.2);
    transition: transform 0.2s;
  }

  article div.bio img {
    border-radius: 10%;
    border: var(--border-size-2) solid var(--gray-3);
    width: var(--size-12);
    height: auto;

    float: left;
    margin-right: var(--size-2);
    transition: transform 0.2s;
  }
  /* article div.bio img:hover {
    transform: scale(1.5);
  } */

  @media (max-width: 480px) {
    article header {
      margin-bottom: 0;
    }
    article header h2 {
      color: transparent;
      max-width: 0;
    }
    article div.bio {
      font-size: var(--font-size-1);
    }
    article div.bio img {
      width: var(--size-8);
    }
  }
</style>
